# macOS Specific
.DS_Store

# Linux Specific

# Windows Specific

# IDE
.idea/

# Build
bin/
cmake-build-debug/
cmake-build-release/
cmake-*-debug/
cmake-*-release/
*.o
*.bin
build/
vendor/
support/packaging/appimage/appimagetool