[submodule "submodules/kdl"]
	path = submodules/kdl
	url = https://github.com/tjhancocks/kdl.git
[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/lua/lua.git
[submodule "submodules/lua_bridge"]
	path = submodules/lua_bridge
	url = https://github.com/vinniefalco/LuaBridge.git
[submodule "submodules/graphite"]
	path = submodules/graphite
	url = https://github.com/TheDiamondProject/Graphite
