# macOS Specific
.DS_Store

# Linux Specific

# Windows Specific

# IDE
.idea/

# Build
artifacts/
cmake-*-debug/
cmake-*-release/
cmake-*-asan/
cmake-*-jit/
*.o
*.bin
build/
docs/CosmicFrontier
docs/libKestrel/html
docs/libKestrel/style.css
support/vendor/
support/packaging/appimage/appimagetool
result.kdat
result.ndat
.vscode
*.vsix
node_modules
package-lock.json