[submodule "submodules/kdl"]
	path = submodules/kdl
	url = https://github.com/tjhancocks/kdl.git
[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/lua/lua.git
[submodule "submodules/lua_bridge"]
	path = submodules/lua_bridge
	url = https://github.com/vinniefalco/LuaBridge.git
[submodule "submodules/graphite"]
	path = submodules/graphite
	url = https://github.com/TheDiamondProject/Graphite
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/freetype2"]
	path = submodules/freetype2
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
[submodule "submodules/PortAudio"]
	path = submodules/PortAudio
	url = https://github.com/PortAudio/portaudio/
[submodule "submodules/minimp3"]
	path = submodules/minimp3
	url = https://github.com/lieff/minimp3
