# macOS Specific
.DS_Store

# Linux Specific

# Windows Specific

# IDE
.idea/

# Build
bin/
cmake-*-debug/
cmake-*-release/
cmake-*-asan/
*.o
*.bin
build/
vendor/
support/packaging/appimage/appimagetool
result.kdat
result.ndat